@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #902be6;
  --color-background: #ffffff;
  --color-surface: #f4f3ec;
  --color-text: #08060d;
  --color-text-muted: #6b6375;
  --color-border: #e5e4e7;
}
